@media screen and (max-width: 960px) {
  .banner-btn {
    font-size: 1rem;
    padding: 15px 30px;
  }
  .video-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .video-container,
  .play-instant {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .nav-bar > ul {
    gap: 5px;
  }
}

@media screen and (max-width: 576px) {
  nav {
    box-shadow: none;
  }
  .nav-bar,
  .banner,
  .play-instant {
    flex-direction: column;
    gap: 62px;
    padding: 38px 0;
  }

  .nav-bar > ul {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .banner-text-container,
  .banner-img-container,
  .play-instant-text {
    width: 100%;
    text-align: center;
  }
  .banner-info-container,
  .banner-img-container {
    padding-left: 6vw;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .video-card-container {
    grid-template-columns: 1fr;
  }
  .video-container,
  .play-instant {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .play-instant-img {
    width: 80%;
  }
  .play-description {
    margin-top: 50px;
  }
  .play-instant-text {
    align-items: center;
  }
  .game-card {
    padding: 5px;
  }
  .game-card img {
    width: 30px;
  }
  .game-card-text {
    font-size: 0.75rem;
    font-weight: 600;
  }
  .games-section {
    margin-top: -50px;
  }
  .footer-icon-container {
    gap: 68px;
  }
  .footer-end {
    flex-direction: column;
  }
}
