@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* shared style */
body {
  font-family: "Work Sans", sans-serif;
  color: #0b0223;
}

.pink {
  color: #ff42a5;
}
/* navbar styles */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
}
.nav-bar {
  max-width: 1440px;
  padding: 38px 5vw;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav-logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-logo-container img {
  width: 85px;
  object-fit: contain;
}

.nav-bar > ul {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
  padding-left: 0;
}

nav a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
}

.link-box {
  color: #3c354f;
  font-weight: 500;
  display: flex;
  width: 262px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 16px;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

/* banner styles */
.banner {
  max-width: 1440px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-left: 5vw;
  padding-right: 5vw;
}

.banner-text-container,
.banner-img-container {
  width: 50%;
}
.banner-title-top {
  font-size: 3rem;
  font-weight: 600;
}
.banner-title-bottom {
  font-size: 5.9rem;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}

.banner-info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
.banner-info p {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
}

.banner-img-container img {
  width: 100%;
  object-fit: cover;
}

.banner-btn {
  padding: 20px 40px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 40px;
  margin-right: 24px;
}

.right-btn {
  background: #4ec5f7;
}

/* optional part we are game section */
.we-are-gamer-section {
  display: flex;
  max-width: 1440px;
  padding: 95px 5vw;
  color: #534c64;
  margin: 0 auto;
}
.we-are-gamer-text {
  text-align: right;
}
.we-are-gamer-section img {
  width: 100%;
}

.we-are-gamer-section h3 {
  font-size: 3rem;
  font-weight: 700;
}
.we-are-gamer-section p {
  font-size: 1.125rem;
  max-width: 520px;
  margin-top: 16px;
}
.more-weight {
  font-weight: 500;
  font-size: 1.5rem;
}
.we-are-gamer-section h4 {
  font-size: 2rem;
  font-weight: 700;
}
.gamer-btn {
  margin-right: 0;
}

/* video container section styles */
.video-container {
  max-width: 1440px;
  margin: 40px auto 120px;
  text-align: center;
}

.video-container p {
  color: #534c64;
  font-size: 1.125rem;
  margin-top: 16px;
  margin-bottom: 48px;
}
.video-title {
  font-size: 3rem;
  font-weight: 700;
}
.video-title-part {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.video-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.card img {
  width: 100%;
  transition: 0.5s ease;
}

.card p {
  text-align: left;
}

/* hover effect style */
.card {
  max-width: 342px;
  height: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: black;
  cursor: pointer;
  border-radius: 16px;
  border: 2px solid #f948b2;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.content p {
  font-weight: 900;
  color: #f948b2;
}

.img-hover img {
  width: 48px;
}

.card:hover .overlay {
  opacity: 0.8;
}

/* play instantly section */
.play-instant {
  max-width: 1440px;
  display: flex;
  gap: 14vw;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 190px;
}
.play-instant-text {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.play-title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-description {
  color: #534c64;
  font-size: 1.125rem;
  margin-top: 24px;
  max-width: 350px;
}
.play-instant-text,
.play-instant-img {
  width: 50%;
  position: relative;
}

.play-instant-img img {
  border-radius: 8px;
}
.play-img-1 {
  width: 100%;
}
.play-img-2 {
  position: absolute;
  bottom: -75px;
  left: -7.5vw;
  width: 50%;
}

/* games section styles */
.games-section-container {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding-top: 120px;
  padding-bottom: 120px;
}
.games-section {
  max-width: 1490px;
  margin: 0 auto;
}

.game-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
}

.game-card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px 20px 10px 10px;
  border-radius: 50px;
  background: #fff;
}
.game-card-text {
  font-size: 1.25rem;
  font-weight: 600;
}

.game-card:hover {
  border: 1.5px solid #ff42a5;
  border-radius: 50px;
  color: #ff42a5;
  padding: 9px 19px 9px 9px;
}
.game-card-container a {
  text-decoration: none;
  color: #0b0223;
}

/* footer styles */
footer {
  background: #0b0223;
  width: 100%;
}

.footer-container {
  padding: 120px 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.footer-link-container a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
}
.footer-link-container,
.footer-condition-container {
  display: flex;
  gap: 4vw;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-icon-container {
  display: flex;
  gap: 3vw;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-condition-container a,
.footer-end {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}

.footer-end {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
