@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* shared style */
body {
  font-family: "Work Sans", sans-serif;
  color: #0b0223;
}

.pink {
  color: #ff42a5;
}
/* navbar styles */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-bar {
  max-width: 1440px;
  padding: 38px 5vw;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav-logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-logo-container img {
  width: 85px;
  object-fit: contain;
}

.nav-bar > ul {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
  padding-left: 0;
}

nav a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
}

.link-box {
  color: #3c354f;
  font-weight: 500;
  display: flex;
  width: 262px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 16px;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

/* banner styles */
.banner {
  max-width: 1440px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-left: 5vw;
  padding-right: 5vw;
}

.banner-text-container,
.banner-img-container {
  width: 50%;
}
.banner-title-top {
  font-size: 3rem;
  font-weight: 600;
}
.banner-title-bottom {
  font-size: 5.9rem;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}

.banner-info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
.banner-info p {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
}

.banner-img-container img {
  width: 100%;
  object-fit: cover;
}

.banner-btn {
  padding: 20px 40px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 40px;
  margin-right: 24px;
}

.right-btn {
  background: #4ec5f7;
}
